<!-- 
<footer class="app-footer">
    <div class="container text-center py-3">
        
        <small class="copyright">LGU Cabagan, Isabela <span class="sr-only">love</span><i class="fas fa-heart"
                style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com"
                target="_blank">Lady Jade Conlu</a></small>

    </div>
</footer> -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get all nav links in the sidebar
        let navLinks = document.querySelectorAll("#menu-accordion .nav-link");
    
        // Get the current URL path
        let currentPath = window.location.pathname;
    
        // Loop through each link and add 'active' class if it matches the current URL
        navLinks.forEach(link => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active");
            } else {
                link.classList.remove("active");
            }
        });
    });
    </script>
    